<body class="mat-app-background component-grid-2 component-grid-tall-short-row">
    <div style="max-width: 640px;">
        <app-score-array-panel
            [abilityScores]="abilityScores"
            (incrementScoreEvent)="incrementScore($event)"
            (decrementScoreEvent)="decrementScore($event)"
            (hoverScoreEvent)="updateHoveredAbilityScore($event)">
        </app-score-array-panel>
        <h4>Points Spent: {{this.currentPointSpending}} / {{this.pointSpendingMaximum}}</h4>
    </div>
    <div style="border:1px solid gainsboro">dummy section</div>
    <div>
        <app-ability-score-increase-panel
            [abilityScores]="abilityScores">
        </app-ability-score-increase-panel>
    </div>
</body><!---->



